
main {
    margin: 0;
    min-height: 100vh;
    color: #3d2817;
}

.woodButton {
    position: absolute;
    top: 1.5em;
    left: 2em;
    background: #b6844b;
    padding: .6em 1.4em;
    border-radius: .5em;
    text-decoration: none;
    color: #2b1a0a;
    font-weight: bold;
    box-shadow: 0 .2em .4em rgba(0, 0, 0, 0.25);

    @media (min-width: 940px) {

        position: sticky;

    }

}

.d-poster {
    position: relative;
    top: 5em;
    border-radius: .3em;
    width: 100%;
    aspect-ratio: 2 / 3;

    background-image: url('/detailposter.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    container-type: size;
    box-shadow: .2rem .2rem 1rem black;


    @media (min-width: 460px) {


        width: 26.875em;
        top: 5em;
        justify-self: center;
    }

    @media (min-width: 990px) {
        position: fixed;
        left: 8em;
        justify-self: unset;
        top: 2.5em;
    }
}

.d-mugshot {
    position: absolute;
    top: 24%;
    left: 52%;
    width: 38%;
    aspect-ratio: 1/1;
}

.d-mugshot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    outline: .2em solid #583f03;
}


.d-name,
.d-nickname,
.d-github,
.d-hobby,
.d-emoji,
.d-season,
.d-animal,
.d-movie {
    position: absolute;
    left: 6%;
    font-size: 4.5cqi;
}

.d-name {
    top: 22%;
}

.d-nickname {
    top: 26%;
}

.d-github {
    top: 30%;
}

.d-hobby {
    top: 34%;
}

.d-emoji {
    top: 37%;
}

.d-season {
    top: 42%;
}

.d-animal {
    top: 46%;
}

.d-movie {
    top: 50%;
    width: 45%;
}

.d-bio {
    position: absolute;
    top: 64%;
    left: 8%;
    width: 82%;
    font-size: 3cqi;
    line-height: 7.2cqi;
}


.d-bounty {
    position: absolute;
    top: 57%;
    left: 58%;
    font-size: 1.2rem;
    font-weight: bold;
}

.d-poster::before {
    content: "📌";
    position: absolute;
    top: -1em;
    left: 50%;
    transform: translateX(-50%) rotate(-10deg);
    font-size: 1.75em;
}


.bounty-form {
    
    position: absolute;
    bottom: 1em;
    left: 1.5em;
    width: max-content;
    justify-items: center;
    

    h2 {
        
        font-size: 1em;
        margin: 0;
        padding-bottom: .5em;

        @media (min-width: 450px){

            font-size: 1.25em;
        }
    }

    input {
        background: #b6844b;
        border: none;
        padding: .4em .6em;
        border-radius: .5em;
        width: 9em;
    }

    button {
        margin-left: .6em;
        padding: .4em .9em;
        background: #b6844b;
        border: none;
        border-radius: .5em;
        cursor: pointer;
    }

    @media (min-width: 450px) {

        left: 3.5em;

    }

}

.d-messages {

    position: relative;
    margin-top: 2em;
    background: rgba(214, 188, 150, 0.95);
    padding: 1em 1.4em;
    border-radius: 1em;
    box-shadow: 0 .5em 1.1em rgba(0, 0, 0, 0.25);
    font-size: 1.125em;
    top: 5em;


    p {
        margin: 0;
    }

    .pin {
        position: absolute;
        top: -1em;
        left: 50%;
        transform: translateX(-50%) rotate(-15deg);
        font-size: 1.5em;
    }

    @media (min-width: 450px) {

        justify-self: center;
        width: 22.5em;
    }

    @media (min-width: 990px) {

        margin-left: auto;
        top: 3em;

    }

    @media (min-width: 1080px) {

        width: 22.5em;
        position: absolute;
        right: 5em;

    }

    @media (min-width: 1155px) {

        width: 22.5em;
        position: absolute;
        right: 10em;

    }

}

.d-messages:first-child {
    margin-top: 8em;
}

.accept,
.woodButton{
 font-family: 'Rye', serif;

 &:hover{
                text-decoration: underline;
            text-shadow: 1px 1px 12px black;
filter: contrast(1.2);
transform: scale(1.1);
 }
}