a.woodButton{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: 900;
    color: #583f03;
}

.d-mugshot {
    position: absolute;
    top: 24.5%;
    left: 52%;
    aspect-ratio: 1/1;
    width: 45%;
    outline: 1.8cqi solid #583f03;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.d-poster {
    box-shadow: 0 0 1em 1em #0006;
    position: relative;
    aspect-ratio: 2/3;
    width: 65%;
    margin: auto;
    background-image: url('/detailposter.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #3d2817;
    font-weight: 600;
    max-width: 1000px;
    container-type: size;
    margin-block: 5rem;

    .d-name {
        font-size: 4.5cqi;
        position: absolute;
        top: 23.2%;
        left: 5%;
    }

    .d-nickname {
        font-size: 5cqi;
        position: absolute;
        top: 26.9%;
        left: 5%;
    }

    .d-github {
        font-size: 5cqi;
        position: absolute;
        top: 30.9%;
        left: 5%;
    }

    .d-hobby {
        font-size: 5cqi;
        position: absolute;
        top: 34.9%;
        left: 5%;
    }

    .d-emoji {
        font-size: 5cqi;
        position: absolute;
        top: 38%;
        left: 5%;
    }

    .d-season {
        font-size: 5cqi;
        position: absolute;
        top: 43%;
        left: 5%;
    }

    .d-animal {
        font-size: 5cqi;
        position: absolute;
        top: 47%;
        left: 5%;
    }

    .d-movie {
        font-size: 5cqi;
        position: absolute;
        top: 50.9%;
        left: 5%;
        width: 50cqi;
    }

    .d-bio {
        font-size: 3cqi;
        position: absolute;
        top: 61.5%;
        left: 7%;
        line-height: 7.2cqi;
        width: 85%;
    }

    .d-profilecard {
        font-size: 6cqi;
        font-weight: 700;
        position: absolute;
        top: 85.2%;
        left: 32.5%;

        a {
            text-decoration: none;
            color: #3d2817;

        }

    }


    .d-bounty {
        position: absolute;
        top: 57%;
        left: 57%;
        font-size: 6cqi;
        font-weight: 700;

    }
}


@media (max-width: 900px) {
    .d-poster {
        width: 100%;
        aspect-ratio: 2/3;
    }
}