* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;

}

html {

    @media (prefers-reduced-motion:no-preference) {
        scroll-behavior: smooth;
    }

}

body {
    min-height: 100vh;
    background-image: url('background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    padding-inline: 1rem;
    position: relative;
    font-family: 'Western', serif;
    overflow-x: hidden;
    align-content: center;

    a,
    details {
        cursor: url("gun.png"), pointer;
    }

}

/*--------------------- index.liquid--------------------------------- */
a.title {
    color: #4f3e09;
    display: grid;
    text-decoration: none;
    height: 13dvh;
    width: 100%;
    max-width: 1000px;
    place-items: center;
    box-sizing: border-box;
    container-type: inline-size;
    font-size: clamp(1.5rem, 10cqi, 4rem);
    font-weight: 900;
    margin: 2rem auto;

    background-image: url("wood-.png");
    background-repeat: no-repeat;
    background-size: 110% 100%;
    background-position: center;
    transition: transform 0.3s ease;
    filter: brightness(0.8);
    background-color: transparent;
    /* box-shadow: .2rem .2rem 1rem black; */

    &:hover {
        transform: scale(1.05);
    }
}

.filters-wrapper {
    position: sticky;
    top: 1rem;
    width: 100%;
    margin-inline: auto;
    z-index: 10;
    background-image: url(woodwall.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    box-shadow: .2rem .2rem 1rem black;

.filters {
    display: flex;
    flex-direction: column;
    font-size: clamp(1rem, 1.1rem + 1vw, 2rem);
    text-align: center;
    font-family: inherit;
    font-weight: 700;
    padding: .75rem;


    label {
        display: flex;
        flex-direction: column;
        margin-block: .5rem;
        width: 80%;
        margin: auto;
        padding-block: .2rem;
        color: rgb(253, 217, 176);

    }

    select {
        text-align: center;
        font-size: clamp(1rem, 1rem + 0.5vw, 1.2rem);
        margin-top: -2px;
        font-family: inherit;
        font-weight: inherit;
    }

    summary{
    color: rgb(253, 217, 176);
    }
}
}

ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    gap: clamp(2rem, 4vw, 2rem);
    padding: clamp(1rem, 2vw, 1.5rem);
    max-width: 1400px;
    margin: auto;
    background-image: url(woodwall.jpg);
    background-position: center;
    background-size: 100%;
    margin-top: 1rem;
    box-shadow: 0.2rem 0.2rem 1rem black;

    li:nth-child(odd) {
        transform: rotate(3deg);
    }

    li:nth-child(even) {
        transform: rotate(-3deg);
    }
}

ul li a {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    transition: transform 0.6s;
    color: #3d2817;
    font-weight: bold;
    width: 100%; 
    container-type: inline-size;

    &:hover {
        transform: scale(1.05);
        animation: wave .8s;
    }

    &:hover .poster {
        animation: glow .8s;
    }

    &:hover .mugshot {
        animation: mugshotWave .8s;
    }

    &:hover .name,
    &:hover .bounty {
        animation: textBounce .8s;
    }
}

@keyframes wave {

    0%,
    100% {
        transform: scale(1.05) rotate(0deg);
    }

    25% {
        transform: scale(1.08) rotate(4deg);
    }

    75% {
        transform: scale(1.1) rotate(-4deg);
    }
}

@keyframes glow {

    0%,
    100% {
        filter: brightness(1);
    }

    50% {
        filter: brightness(1.2);
    }
}

@keyframes mugshotWave {

    0%,
    100% {
        transform: translateY(-20px) scale(1);
    }

    30% {
        transform: translateY(-35px) scale(1.1);
    }

    60% {
        transform: translateY(-28px) scale(0.97);
    }
}

@keyframes textBounce {

    0%,
    100% {
        transform: translateX(-50%) translateY(0);
    }

    50% {
        transform: translateX(-50%) translateY(-5px) scale(1.1);
    }
}

.poster {
    width: 100%;
    z-index: 1;
    box-shadow: .1em .1em .3em #0006;
    pointer-events: none;
}

.mugshot {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: translateY(-20px);
    clip-path: inset(10% 8% 10% 8%);
    z-index: 0;
    filter: sepia(1) contrast(.5) saturate(.8) hue-rotate(-10deg) blur(.5px);
    transition: .5s;

    &:hover {
        filter: sepia(0);
    }
}

.name {
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    font-family: 'Western', serif;
    font-size: 6cqi;
    text-align: center;
    white-space: nowrap;
}

.bounty {
    font-family: 'Western', serif;
    position: absolute;
    z-index: 2;
    top: 83%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10cqi;
}

.emoji {
    position: absolute;
    z-index: 2;
    top: -5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10cqi;
}
